<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card"><img class="card-img-top" src="{{ service.data.img }}" alt="{{ service.data.img_alt }}">
        <div class="card-body">
            <h5 class="card-title">{{ service.data.card_title }}</h5>
            <p class="card-text">{{ service.data.card_text }}</p>
            <a  target="_blank"  href="https://us21.list-manage.com/contact-form?u=ebcee73b9a65c6f7d2ffed5f6&form_id=e4b362a7bac72a41a8fa5b82e9c2bfe9" class="btn btn-primary">Contact Me</a>
        </div>
    </div>
</div>