---
card_title : Dump Runs
card_text : It's easy to become overwhelmed by clutter.  I would be happy to help you unclutter by 
            transporting some of these unwanted items to the Recycle and Transfer Station using my Ford Ranger Pickup. 
            Contact me for an estimate.
tags : ["service"]
img : img\fordPickup.jpg
img_alt : Ford Ranger Pickup
---

