---
card_title : Errands
card_text : Sometimes we all get too busy to run a simple errand.  Let me help with that and run that errand for you.  
            keep in mind I do have a truck so maybe there are some items that just will not fit in your car.
tags : ["service", "test"]
img : img/errands.jfif
img_alt : Errands
---

