---
name : John Smith
text : Delectus impedit saepe officiis ab aliquam repellat rem unde ducimus. Test
tags : ["testimonial"]
img : https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp
img_alt : John Smith
---