---
title: Mike The Handyman
layout: 'base.njk'
---

<h1 class="" style="color:red">Just a practice site. If I decide to go live with this, I will purchase the copywrite
    images</h1>
{% include 'nav_bar.njk' %}
<section id="hero">
    <div class="container aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to
            <span>Mike's Handyman Services
            </span>
        </h1>
        <blockquote class="blockquote">
            <h4 class="d-none d-md-block text-muted " style="font-style: italic">I'm here to help with your home improvement
                projects</h4>
        </blockquote>
    </div>
</div></section><section id="services" class="container">
<h3>Services Offered</h3>
<div class="row d-flex align-items-stretch">
    {%- for service in collections.service -%}
        {% include 'service.njk' %}
    {%- endfor -%}
</div></section><section id="testimonials">
<div class="container justify-content-center">
    <div class="col-md-10 col-xl-8 ">
        <h3 class="mb-4">Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
            veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.
        </p>
    </div>
    <div class="row text-center d-flex align-items-stretch">
        {%- for testimonial in collections.testimonial -%}
            {% include 'testimonial.njk' %}
        {%- endfor -%}
    </div>
</div></section><div id="contact_us" class="mt-5 container">
<div class="text-center">
    <h3 class="text-primary">How Can We Help You?</h3>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisic</p>
</div>
<div class=" d-flex align-items-center justify-content-center">
    <div class="bg-white col-md-8">
        <iframe
            src="https://us21.list-manage.com/contact-form?u=ebcee73b9a65c6f7d2ffed5f6&form_id=e4b362a7bac72a41a8fa5b82e9c2bfe9"
            scrolling="no"
            frameborder="0"
            height="850px"
            bg-color="white"
            width="100%"
            style="background: #FFFFFF;"></iframe>
    </div>
</div></div>{% include 'footer.njk' %}